body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}
.content {
line-height: 2;
}
.titletextshadow {
margin: 15px 15px 5px 15px;
color: #000;
text-shadow: 0 0 3px #000;
letter-spacing: 4px;
font-size: 2em;
font-weight: bold;
}
.footer{
text-align: center;
}
.fluidimg {
max-width: 100%;
height: auto;
}
article {
margin: 5px 15px;
}
.customcode {
border: 1px solid #BCBEC0;
background: #F1F3F5;
padding: 4px 4px 2px 4px;
border-radius: 3px;
font-family: 'Courier New', monospace;
}
.custompre {
white-space: pre-wrap;
background: #c3ac94;
}
.header {
font-family: 'Open Sans', sans-serif;
background-color: #1a1a1a;
width: 100%;
z-index: 3;
font-weight:300;
line-height: 40px;
height: auto;
}
.header .headerlogo {
padding: 10px 20px;
color: #fff;
font-size: 18px;
}
.header .headertext {
padding: 10px 20px;
text-decoration: none;
color: #fff;
}
.header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
height: auto;
}
.header li a {
display: block;
padding: 0px 20px;
text-decoration: none;
color: #fff;
height: auto;
}
.header li a:hover,
.header input:hover {
opacity:.6;
}
.header > a {
display: block;
float: left;
padding: 0px 20px;
text-decoration: none;
}
.header ul {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}
.header label {
cursor: pointer;
display: inline-block;
float: right;
padding: 19px 20px;
position: relative;
user-select: none;
}
.header label span {
background: #fff;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}
.header label span:before,
.header label span:after {
background: #fff;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
.header label span:before {
top: 5px;
transform-origin: 50% 100%;
}
.header label span:after {
top: -5px;
transform-origin: 10% 100%;
}
.header input {
display: none;
}
.header input:checked ~ ul {
max-height: 240px;
}
.header input:checked ~ label span {
background: transparent;
}
.header input:checked ~ label span:before {
transform: rotate(-45deg);
}
.header input:checked ~ label span:after {
transform: rotate(45deg);
}
.header input:checked ~ label:not(.steps) span:before,
.header input:checked ~ label:not(.steps) .span:after {
top: 0;
}
.header .logout-btn {
color: #fff;
background: #4444;
box-shadow: 0px 0px 4px rgba(0,0,0) inset;
height: 40px;
}
.header #modal-1 {
vertical-align: middle;
height: 40px;
}
a.download-button {
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#fff;
	border-color:#3278BE;
	text-decoration:none;
	padding: 5px 50px;
	border:1px solid #DDD;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:#4195DD;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
	background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
a.download-button:hover {
	background:#4195DD;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
	background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}
a.download-button:active {
	color:#000;
	background:#FFFFFF;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
	background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
}
.code-group {
position: relative;
display: inline-flex;
flex-wrap: wrap;
align-items: stretch;
font-family: monospace;
}
.code-group-prepend {
margin-right: -1px;
}
.code-group>.form-control:not(:first-child), .code-group>.custom-select:not(:first-child) {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.code-group>.form-control, .code-group>.form-control-plaintext, .code-group>.custom-select, .code-group>.custom-file {
position: relative;
width: fit-content;
min-width: 0;
margin-bottom: 0;
}
.code-group>*, *::before, *::after {
box-sizing: border-box;
}
.code-group>.code-group-prepend>.btn, .code-group>.code-group-prepend>.code-group-text, .code-group:not(.has-validation)>.code-group-append:not(:last-child)>.btn, .code-group:not(.has-validation)>.code-group-append:not(:last-child)>.code-group-text, .code-group.has-validation>.code-group-append:nth-last-child(n+3)>.btn, .code-group.has-validation>.code-group-append:nth-last-child(n+3)>.code-group-text, .code-group>.code-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .code-group>.code-group-append:last-child>.code-group-text:not(:last-child) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.code-group-text {
display: flex;
align-items: center;
padding: .100rem .800rem;
margin-bottom: 0;
font-size: 1rem;
font-weight: 400;
line-height: 20px;
text-align: center;
white-space: nowrap;
color: #000;
background-color: #fff;
border: 1px solid #ced4da;
border-radius: .25rem;
}
.form-control:hover {
background-color: #00aa00;
color: #55ff7f;
}
.form-control {
display: block;
width: 50px;
line-height: 20px;
padding: .175rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1;
color: #495057;
background-color: #e9ecef;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
cursor: default;
}
.code-group-prepend, .code-group-append {
display: flex;
}
.code-group-plain {
display: flex;
align-items: center;
padding: .100rem .800rem;
margin-bottom: 0;
font-size: 1rem;
font-weight: 400;
line-height: 20px;
text-align: center;
white-space: nowrap;
color: #000;
background-color: #fff;
border: 1px solid #ced4da;
border-radius: .25rem;
}
.copy-tooltip {
position: relative;
display: inline-block;
}
.copy-tooltip .copy-tooltiptext {
visibility: hidden;
width: 100px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -50px;
opacity: 0;
transition: opacity 0.3s;
}
.copy-tooltip .copy-tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}
.copy-tooltip:hover .copy-tooltiptext {
visibility: visible;
opacity: 1;
}
@media (min-width: 640px) {
.header {
height: 40px;
}
.header li {
float: left;
}
.header li a {
padding: 0px 30px;
}
.header ul {
clear: none;
float: right;
max-height: none;
}
.header label {
display: none;
}
}
